/* Global Settings */

* {
  font-family: "Roboto", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
}

a {
  text-decoration: none;
}

.hero {
  background-color: #1f2937;
  padding: 20px 18vw 100px;
  flex-wrap: wrap;
}

/* Navbar */

.navbar {
  align-items: center;
  justify-content: start;
  flex: 1;
  gap: 25px;
  margin: 0 0 50px;
  min-width: 100%;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
  margin-right: auto;
}

.navitem {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: normal;
}

/* Left container in hero section */

.hero-section {
  min-width: 100%;
}

.left {
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  padding-right: 30%;
}

.heading {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
  margin-bottom: 0;
}

.desc {
  font-size: 16px;
  font-weight: normal;
  color: #e5e7eb;
  line-height: 1.3em;
  margin-top: 10px;
}

.cta {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 10px 40px;
  border: none;
  border-radius: 7px;
  font-weight: bold;
}

/* Right Container  */

.right {
  justify-content: center;
  align-items: center;
  width: 50%;
}

.credit {
  width: 171px;
  height: 110px;
  scale: 150%;
}

/* INFROMATION SECTION */

.info-section {
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.info-heading {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  width: 100%;
  text-align: center;
  margin: 40px 0 50px;
}

.icon-container {
  justify-content: center;
  flex: 1;
  max-width: 55%;
  gap: 50px;
}

.fa-solid {
  color: #3882f6;
}

.column {
  text-align: center;
  color: #1f2937;
}

.column p {
  color: #757575;
  line-height: 1.3rem;
}

/* Quote Section */

.quote-section {
  background-color: #e5e7eb;
  justify-content: center;
  padding: 95px 25%;
  flex-direction: column;
}

.quote {
  font-weight: 300;
  font-size: 36px;
  color: #1f2937;
  line-height: 2.7rem;
  margin: 0;
}

.ref {
  font-weight: 800;
  color: #1f2937;
  align-self: flex-end;
  margin: 0;
}

/* CTA section */

.cta-section {
  display: flex;
  margin: 0;
  justify-content: center;
  padding: 100px 20%;
}

.blue-box {
  background-color: #3882f6;
  width: 95%;
  justify-content: center;
  align-items: center;
  gap: 300px;
  border-radius: 9px;
  padding: 30px 0;
}

.cta-section h2,
p {
  color: #f9faf8;
  margin: 0;
}

cta-section p {
  font-weight: 300;
}

.cta-2 {
  border: #f9faf8 2px solid;
  font-weight: 500;
}

/* Footer  */

.footer {
  background-color: #1f2937;
  text-align: center;
  font-weight: 300;
  padding: 30px;
}
