/* Global Settings */

* {
  font-family: "Roboto", Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
}

a {
  text-decoration: none;
}

.hero {
  background-color: #1f2937;
  padding: 20px 18vw 100px;
  flex-wrap: wrap;
}

/* Navbar */

.navbar {
  align-items: center;
  justify-content: start;
  flex: 1;
  gap: 25px;
  margin: 0 0 50px;
  min-width: 100%;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
  margin-right: auto;
}

.navitem {
  font-size: 16px;
  color: #e5e7eb;
  font-weight: normal;
}

/* Left container in hero section */

.left {
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  padding-right: 30%;
}

.heading {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
  margin-bottom: 0;
}

.desc {
  font-size: 16px;
  font-weight: normal;
  color: #e5e7eb;
  line-height: 1.3em;
  margin-top: 10px;
}

.cta {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 10px 40px;
  border: none;
  border-radius: 7px;
  font-weight: bold;
}

/* Right Container  */

.right {
  justify-content: center;
  align-items: center;
  width: 50%;
}

.credit {
  width: 171px;
  height: 110px;
  scale: 150%;
}
